*{
    font-weight: 600;
    font-family: PT Root UI,Arial,Helvetica,sans-serif;
    line-height: 1.3;
    box-sizing: border-box;
}
hr{
    margin:0;
}
header{
}
.navigation{
    height: 49px;
    border-bottom: 1px solid rgba(0,0,0,.08);
}
#logo{
    float: left;
}
#logo a{
    text-decoration: none;
    font-size: 1.8rem;
    color: black;
    margin: 0;
}
#logo p{
    font-family: cursive;
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav{
    float: right;
    margin-top: 8px;
}
li{
    display: inline-block;
    margin-right: 35px;
    font-size: 0.9rem;
    position: relative;
}
li a{
    display: block;
    color: #303030;
    text-decoration: none;
    transition: color .2s;
}
a{
    background-color: transparent;
}
.sign-up a{
    background-color: #70d36e;
    display: block;
    outline: none;
    border: none;
    background-color: #70d36e;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    line-height: 1;
    padding: 8px 18px;
    font-weight: 600;
    transition: background-color .2s;
}
.sign-in a{
    display: block;
    outline: none;
    color: #70d36e;
    border: none;
    padding: 0;
    line-height: 1.3;
    background: transparent;
    cursor: pointer;
    font-weight: 600;
}
.categories{
    border-bottom: 1px solid rgba(0,0,0,.08);
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
    align-items: center;
    max-height: 60px;
}
.container{
    margin: 0 auto;
    max-width: 1140px;
}
