<div class="main">
  <div class="container" >
    <div *ngFor="let product of products!">
      <div>
        <div class="img"><p>{{product.name}}</p></div>
        <div class="info">
          <p><b>Name:</b> {{product.name}}</p>
          <p><b>Description:</b> {{product.description}}</p>
          <p><b>Quantity:</b> {{product.count}}</p>
          <a [routerLink]="['/product-details', product.id]">
            <button class="more">More</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
