.author{
  border-radius: 10px;
  margin: 20px 10px;
  background: #483b28;
  padding: 10px;
  width: 20%;
  height: 200px;
  float: left;
  color: white;
}
.img{
  padding: 5px;
  text-align: center;
  background: #a1ff82;
}
.main{
  display: block;
}
.container{
  display: block;
  margin: 0 auto;
  max-width: 1140px;
}
